html, body {
  overflow: hidden;height:100%;

  width: 100%;
  color: white;

}
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3vw;
}

p {
  font-size: 1.5vw;
}

a, a:link, a:visited {
  color:#000000;
}
.navbar-default{
  background: rgba(0,0,0,1);
  border-style: none;
}
.intro{
  float: left;
  padding-top: 5%;
  padding-left: 10%;
}
.intro-header {

	background: grey;
	background: linear-gradient(to right, rgba(35,35,35,1), rgba(35,35,35,0.8),rgba(207,201,207,0),rgba(207,201,207,0));
	padding: 1vw 2vw 2vw 2vw;
	border-radius: 10px;
	width: 45vw;
}
/*
.container{
  background-color: white;
  padding-bottom: 20px;
  width: 350px;
  border-radius: 10px;
}
*/
.network-name {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

body {
    background-image:url('../images/toronto-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
}
/*
@media all and (min-width: 600px) {
    body {
    background-image:url('../images/bg.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    }
}

@media all and (max-width: 599px) {
    body {
    background-image:url('../images/bg-mobile.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    }
}
*/
